:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

body {
  background-color: #ffffff;
  color: #434455;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

/* headr */

.list-link {
  color: #434455;
}
.list-link:hover,
.list-link:focus {
  color: #404bbf;
}

/* hero image */
.title {
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
}

.btn {
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  letter-spacing: 0.04em;
  font-size: 16px;
  font-weight: 500;
}

.btn:hover {
  background-color: #404bbf;
}
