body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
:root {
  --brand-color: #2e2f42;
}
span {
  color: #4d5ae5;
}

.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo {
  color: #2e2f42;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
/* <!-- header index --> */

.address {
  font-style: normal;
}

.header-link {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5;
  letter-spacing: 0.02em;
}
.header-menu {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-link .header-menu-link {
  color: #404bbf;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-list .link:hover,
.link:focus {
  color: #404bbf;
}

/* sectione one index */

.main-section-one .link:hover,
.link:focus {
  color: #ffffff;
  background: #2e2f42;
}
.main-section-one .link {
  background: #4d5ae5;
}
.main-header {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  background: var(--brand-color);
}

/* section two index */

.section-two-target {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}
.section-two-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*  section three index */

.section-three-target {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

/* section foure index */

.section-foure-target {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}
.section-foure-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}
.section-foure-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background: var(--brand-color);
}

/* section porfolio */
.section-menu .item:hover,
.item:focus {
  background: var(--brand-color);
  color: #ffffff;
}

.section-menu .item {
  background: #4d5ae5;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.main-name {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.main-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
